<div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <div class="sm:col-span-3 relative">
      <div class="border-b border-gray-300 flex items-center"> 
        <input [type]="type()"
               [placeholder]="placeholder()" [value]="value()" 
               class="block py-2 pl-3 pr-10 text-gray-900 placeholder:text-gray-400 outline-none w-full">
        <span class="password-visibility absolute right-2 top-1/2 transform -translate-y-1/2 cursor-pointer" (click)="togglePasswordVisibility()">
            <fa-icon [icon]="showPassword() ? faEye : faEyeSlash"></fa-icon>
        </span>
        @if(!valid()){
          <div>
            <p class="text-red-500 text-xs">{{ errorMessage() }}</p>
          </div>
          }
      </div>
    </div>
  </div>