<div class="page-container flex flex-col justify-center h-screen">
    <div class="flex w-full h-full justify-between">
        <div class="w-1/2 bg-secondary p-8 flex items-center justify-center">
            <div class="w-60 h-20 mb-4 bg-svg_logo bg-cover"> </div>
        </div>
        <div class="w-1/2 bg-white p-8 flex flex-col items-center justify-center">
            <div class="flex flex-col">
                <h1 class="text-black text-left text-4xl font-title">Accedi</h1>
                <p class="text-black text-left text-l">Inserisci le credenziali per accedere al tuo account.
                </p>
                <app-form-field placeholder="Email" [(value)]="email"></app-form-field>
                <app-password-form-field placeholder="Password" [(value)]="password"></app-password-form-field>
                <div class="flex flex-ln mt-8 ml-4">
                    <button (click)="navigateToForgotPassword()" class="text-black text-left text-sm mr-3 underline">Password dimenticata?</button>
                </div>
            </div>
            <app-standard-button buttonText="ACCEDI" (clickEvent)="(validateLogin())"
                class="bg-primary hover:bg-primaryHover hover:shadow-lg hover:shadow-black/33 rounded-full mt-12"></app-standard-button>
            <div class="flex flex-ln mt-8">
                <p class="text-black text-left text-sm mr-3">Non sei registrato?</p>
                <button (click)="navigateToRegister()" class="text-primary text-left text-sm">Crea un account</button>
            </div>
        </div>
    </div>
</div>